body{
    padding: 50px;
}
.a1 {
    background-color: blue;
    color: white;
    text-align: center;
}

#idform {
    text-align: center;
    border: solid 3px grey;
    padding: 20px;
    
   margin: auto;
}

img {
    border-radius: 50px;
    align-items: center;
    width: 38%;
    margin-left: 31%;
    margin-right: 31%;
    opacity: 0.7;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}